.*~
.*sw?
.ipynb_checkpoints
widgets_version
docs/build/
docs/site/
docs/src/tutorial.md
assets/bulma*
assets/all.js
assets/prism*
assets/nouislider*
assets/katex*
assets/auto-render.min.js
deps/build.log
Manifest.toml
